@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.stranger {
  min-height: 80vh;
  width: 100%;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  width: 100%;
}

ul {
  list-style-type: none;
}

.subscriber {
  padding: 2px;
  cursor: pointer;
}

.index {
  min-width: 300px;
  height: calc(100vh - 50px);
  position: sticky;
  left: 0;
  top: 50px;
  overflow-y: auto;
}

.subs-index,
.services-index {
  width: 100%;
  height: auto;
}

.ii h2 {
  padding-left: 40px;
}

h2 {
  text-align: left;
}

#display-content {
  width: 100%;
  min-height: calc(100vh - 50px);

  background-color: #424549;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.view-payments {
  width: calc(60% - 25px);
  min-width: 400px;
  padding-left: 25px;
  padding-top: 25px;
}

.sidebar {
  width: 40%;
}

#payment-history {
  width: 100%;
}

.payment {
  position: relative;

  max-width: 467px;
  min-width: 375px;
  min-height: 180px;
  background-color: rgb(44, 47, 51);

  padding: 5px 8px;
  margin: 25px 0;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;

  border-radius: 4px;
}

.delete-payment {
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete-button {
  border: 1px solid red;
  color: red;
  padding: 3px;
  border-radius: 1px;
  cursor: pointer;
}

.content-filter {
  width: initial;
  height: 50px;
  padding: 5px;
  background-color: gray;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
}

.name {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.iban {
  color: rgb(153, 170, 181);
  margin-top: 2px;
  font-size: 0.9em;
}

.middle-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.positive-text {
  color: lawngreen;
}

.negative-text {
  color: orangered;
}

.payment-text {
  font-size: 0.85em;
  font-style: italic;

  color: #e0e1dd;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.tag {
  font-size: 0.65em;
  padding: 2px;
  border-radius: 2px;
}

.subcategory {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  position: fixed;
  max-width: 300px;
  min-height: calc(100vh - 50px);

  background-color: rgb(44, 47, 51);
  color: rgb(153, 170, 181);

  padding: 40px 20px;
}

.sub-title {
  text-align: center;
  margin-bottom: 10px;
}

.search {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.5;
  background: #E9EEF0;
  border: 1px solid #D5D9DB;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 15px 10px;
  background-size: 20px 20px;
  border-radius: 100px;
  width: 300px;
  padding: .5em 1em .5em 2.5em;
}

.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;

  height: 20px;
  width: 20px;
  background-image: url("close.svg");
  background-size: contain;
}

.search::placeholder {
  color: #bbb;
}

.search:focus-visible {
  outline: none;
}



label {
  user-select: none;
  -webkit-user-select: none;
}