{% extends "dashboard/base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}" />
{% if not user.is_authenticated %}
<div class="stranger">
  <h1>LOGIN TO SEE THE CONTENT..</h1>
</div>
{% endif %} {% if user.is_authenticated %}
<div class="dash-body">
  <div class="index">
    <div class="subs-index ii">
      <h2>Subscribers</h2>
      <ul>
        {% for sub in subscriber%}
        <li class="subscriber"><span onClick=TextToSearch(this.textContent) class="name">{{sub.name}}</span>
          {% if sub.debt <= 0 %}
          <span class="positive-text">{{sub.debt}}€</span>
          {% else %}
          <span class="negative-text">{{sub.debt}}€</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="services-index ii">
      <h2>Services</h2>
      <ul>
        {% for service in services%}
        <li style="color: #{{service.hex_color_without_hashtag}} ;">{{service.whole_service_name}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div id="display-content">
    <div class="view-payments">
      <!-- class="search" automagically makes an input a search field. -->
      <input type="search" class="search" placeholder="Search" />
      <!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
      <button type="button" class="sort" data-sort="date-of-payment">
        Sort by date of payment
      </button>
      <button type="button" class="sort" data-sort="name">Sort by name</button>
      <div id="payment-history" class="list" 
      x-data="{ payments: [
        {% for payment in payments %}
        { 
          id: {{payment.id}}, 
          paid_amount: {{payment.paid_amount}}, 
          subscriber_id: {{payment.subscriber.id}}, 
          subscriber_name: '{{payment.subscriber.name}}', 
          subscriber_iban: '{{payment.subscriber.iban}}',
          subscriber_services: [ {% for group in payment.subscriber.group.all  %} 
                              {id:'{{group.service.id}}',name:'{{group.service.service_name}}'},
                              {% endfor %} ],
          payment_date: '{{payment.date_of_payment}}'
        },
        {% endfor %}
      ]}"
      >
        <template x-for="(payment, index) in payments" :key="index">
          <div class="payment">
                <div class="delete-payment">
                  <span class="delete-button" onClick=DeletePayment(this)>X</span>
                  <input type="hidden" value="{{payment.id}}">
                  <input type="hidden" value="{{payment.subscriber.id}}">
                </div>
                <div class="top-row">
                  <div class="user-info">
                    <h2 class="name" x-text="payment.subscriber_name">
                    </h2>
                    <h3 class="iban" x-text="payment.subscriber_iban"></h3>
                  </div>
                </div>
                <div class="middle-row">
                  <div class="payment-text">
                    <span class="payment-text">Recieved Payment</span>
                    <span class="positive-text" x-text="payment.paid_amount + '€'"></span>
                  </div>
                </div>
                <div class="bottom-row">
                  <template class="tags" x-for="group in payment.subscriber_services" :key="group.id">
                    <span class="tag" x-text="group.name"></span
                    >
                  </template>
                  <div class="date-of-payment">
                    <span class="payment-text" x-text="payment.payment_date">Date of Payment</span>
                  </div>
                </div>
            </div>
        </template>
      </div>
    </div>
  <div class="sidebar">
  <div class="add-payment">
    <h2>Add A Payment</h2>
    <div class="form">
      <label for="subscribers">Choose a subscriber:</label>
      <select class="select-subscriber" name="subscribers" id="subscribers">
        {% for sub in subscriber %}
        <option value="{{sub}}">{{sub|title}}</option>
        {% endfor %}
      </select>
      <div class="paid-amount">
        <label for="sum">Paid amount: </label>
        <input type="number" id="sum" placeholder="0.00" min="0"></input>
      </div>
      <input class="manager" type="hidden" value="{{request.user}}">
      <input type="button" value="Create Payment" onclick="CreatePayment(this.parentElement)">
    </div>
  </div>
  </div>
  </div>
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
  <script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`;
    const PaymentSocket = new WebSocket(url);
    const SearchBar = document.getElementsByClassName("search")[0];



    PaymentSocket.onmessage = (e) => {
      let data = JSON.parse(e.data);
      console.log('Data:', data);
    };
    
    const CreatePayment = (form) => {
      let subscriber = form.querySelector('.select-subscriber')[0].value
      let manager = form.querySelector('.manager').value
      let paid_amount = document.getElementById('sum').value
      PaymentSocket.send(JSON.stringify({
        'event':'Create Payment',
        'eventData':{
          'subscriber':subscriber,
          'paid_amount':paid_amount,
          'manager':manager,
        },
      }))
      window.location.reload()
    }

    const DeletePayment = (obj) => {
      let payment_id = obj.nextElementSibling.value;
      let subscriber_id = obj.nextElementSibling.nextElementSibling.value;
      var res = window.confirm("Are you sure you want to delete this payment record?");
      if(res){
          // Put the deletion logic here
          obj.parentElement.parentElement.style.display = 'none';
          PaymentSocket.send(JSON.stringify({
            'event':'Delete Payment',
            'eventData':{
              'payment_id':payment_id,
              'subscriber_id':subscriber_id,
            }
          })) 
          window.location.reload()
      }
    }

    let options = {
      valueNames: ['name', 'date-of-payment', 'tags'],
    };

    let userList = new List('display-content', options);

    const TextToSearch = (text) => {
      SearchBar.value = text;
      SearchBar.focus();
      userList.search(SearchBar.value);
    };
  </script>
</div>
{% endif %} {% endblock %}
