{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% if not user.is_authenticated %}
  <div class="stranger">
    <h1>LOGIN TO SEE THE CONTENT..</h1>
  </div>
{% endif %}
{% if user.is_authenticated %}
  <div class="dash-body">
    <div class="categories">
      <div class="subcategory">
        <div class="sub-title">Filter by Subscription Type</div>
        <div class="option">
          <input type="checkbox" id="option1" name="option1" value="Netflix" checked>
          <label for="option1"> Netflix</label><br>
        </div>
        <div class="option">
          <input type="checkbox" id="option2" name="option2" value="Spotify" checked>
          <label for="option2"> Spotify</label><br>
        </div>
        <div class="option">
          <input type="checkbox" id="option3" name="option3" value="NordVPN" checked>
          <label for="option3"> NordVPN</label>
        </div>
      </div>
    </div>
    <div class="display-content">
      <div class="content-filter">
        tu bude filter od ^ po ˇ
      </div>
      <div class="payment-history">

        {% for payment in payments|dictsort:"datum_platby" %}
        
        <div class="payment">
          <div class="top-row">
            <h2 class="meno">{{payment.subscriber.meno}}</h2>
            <h3 class="iban">{{payment.subscriber.iban}}</h3>
          </div>
          <div class="middle-row">
            <div class="platba platba-text"><span class="payment-text">Prijatá platba</span> {{payment.platba_suma}}€</div>
            <div class="dlh dlh-text"><span class="payment-text">Zostávajúci dlh</span> {{payment.subscriber.dlh}}€</div>
          </div>
          <div class="bottom-row">
            <div class="tags">
              {% for skupina in payment.subscriber.skupina.all %}
              <span class="{{skupina.sluzba.nazov_sluzby}} tag">{{skupina.sluzba.cely_nazov_sluzby}}</span>
              {% endfor %}
            </div>
            <div class="datum-platby"><span class="payment-text">Dátum Platby</span> 23.9.2022</div>
          </div>
          </div>

          {% endfor %}

      </div>
    </div>
  </div>
{% endif %}
{% endblock %}